{% extends 'main/base.html' %}

{% block title %}Events{% endblock %}

{% block body %}
<script type="text/javascript">
    $(function() {
        var is_mobile = (/android|webos|iphone|ipad|ipod|blackberry|iemobile|opera mini/i.test(navigator.userAgent.toLowerCase()));
        
        var today = new Date();
        
        var year = today.getFullYear();
        
        var month = today.getMonth()+1;
        
        if(month < 10){
            month = '0' + month;
        }
        
        var day = today.getDate();
        
        if(day < 10){
            day = '0' + day;
        }
        
        var today_string = year + '-' + month + '-' + day;
        
        $('#date').val(today_string);
        
        $("#yes_repeat").change(function () {
            $('#no_repeat').prop('checked', false);
            $("#yes_repeat").parent().removeClass('btn-secondary').addClass('btn-success')
            $('#repeat_div').show()
            $('#no_repeat').parent().removeClass('btn-danger').addClass('btn-secondary')
        });
        
        $("#no_repeat").change(function () {
            $('#yes_repeat').prop('checked', false);
            $("#no_repeat").parent().removeClass('btn-secondary').addClass('btn-danger')
            $('#repeat_div').hide()
            $('#yes_repeat').parent().removeClass('btn-success').addClass('btn-secondary')
        });
        
        $("#start_time").change(function () {
            var start_time = $(this).val();
            $('#end_time').val(start_time);
        });
        
        $("#add_another_button" ).click(function() {
            $("#add_another").val("yes");
            $("form").submit();
        });
        
        setTimeout(function() {
            $("#success_message").hide('blind', {}, 500)
        }, 5000);
	});
</script>

<div class="col-sm-12">
    {% if success_message %}
    <div id="success_message" class="alert alert-success" role="alert">
      {{success_message}}
    </div>
    {% endif %}
    <form role="form" action="{% url 'main:add_event' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="title">Title:</label>
            <input required type="text" class="form-control" name="title" placeholder="Enter title">
        </div>
        
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control" name="description" rows="3" placeholder="Enter description"></textarea>
        </div>
        
        <div class="form-group">
            <label for="location">Location:</label>
            <input type="text" class="form-control" name="location" placeholder="Enter location">
        </div>

        <div class="form-group">
            <label for="date">Date:</label>
            <input required type="date" class="form-control" name="date" id="date">
        </div>
        
        <div class="form-group" id="start_time_form">
            <label for="start_time">Start Time:</label>
            <input required type="time" class="form-control" name="start_time" id="start_time">
        </div>
        
        <div class="form-group" id="end_time_form">
            <label for="end_time">End Time:</label>
            <input required type="time" class="form-control" name="end_time" id="end_time">
        </div>
        
        <div class="form-group">
            <label>Repeat Event? </label>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-danger">
                <input type="radio" name="no_repeat" id="no_repeat" autocomplete="off" checked> No
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="yes_repeat" id="yes_repeat" autocomplete="off"> Yes
              </label>
            </div>
        </div>
        
        <div class="form-group form-check" id="repeat_div" style="display: none;">
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="sunday" name="sunday">
                <label class="form-check-label" for="sunday">Sunday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="monday" name="monday">
                <label class="form-check-label" for="monday">Monday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="tuesday" name="tuesday">
                <label class="form-check-label" for="tuesday">Tuesday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="wednesday" name="wednesday">
                <label class="form-check-label" for="wednesday">Wednesday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="thursday" name="thursday">
                <label class="form-check-label" for="thursday">Thursday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="friday" name="friday">
                <label class="form-check-label" for="friday">Friday</label>
                <br>
                <input type="checkbox" class="form-check-input" id="saturday" name="saturday">
                <label class="form-check-label" for="saturday">Saturday</label>
                <br>
                <br>
                <input type="checkbox" class="form-check-input" id="every_day">
                <label class="form-check-label" for="every_day">Every Day</label>
            </div>
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" id="add_another_button" class="btn btn-primary">Submit and Add Another</button>
            <input type="hidden" id="add_another" name="add_another" value="no">
        </div>
    </form>
</div>
{% endblock %}