{% extends 'main/base.html' %}

{% block title %}Tomorrow Agenda{% endblock %}

{% block body %}
<div class="col-sm-12">
    <a href="{% url 'main:add_event' %}"><h1>Add Event</h1></a>
    <table class="table table-light" style="color:black;">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
            </tr>
        </thead>
        <tbody>
            {% for event_entry in tomorrow_event_entries %}
            <tr>
                <td><a href="{% url 'main:event_entry_detail' pk=event_entry.id %}">{{event_entry.event.title}}</a></td>
                <td>{{event_entry.event.start_time}}</td>
                <td>{{event_entry.event.end_time}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}